.tabs {
  color: var(--white);
  padding-inline: 1rem;
  inline-size: 100vw;
  box-sizing: border-box;
}

.tab {
  border-block-end: .25rem solid transparent;
  padding-block-end: .5rem;
}

.tab[aria-selected="true"] {
  color: #00fa9e;
  border-block-end-color: var(--primary);
}

.tabList {
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
  /* border: 1px solid red; */
}

.tabList:not([hidden]) {
  display: flex;
}







